 <app-navbar (searchTextChanged)="onSearchTextEntered($event)"></app-navbar>
      
 <div class="ag-format-container">
    <div class="ag-courses_box">

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">Automechanic</div>
          <div class="ag-courses-item_text">For car breakdowns, servicing and oil & filter changes</div>
          <div class="ag-courses-item_date-box">Available with 20km:
            <span class="ag-courses-item_date">5</span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">Auto-Electrician</div>
          <div class="ag-courses-item_text">For electrical related issues</div>
          <div class="ag-courses-item_date-box">Available with 20km:
            <span class="ag-courses-item_date">7</span>
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">Vulcanizer</div>
          <div class="ag-courses-item_text">For tyre and brake pad repair or change</div>
          <div class="ag-courses-item_date-box">Available with 20km:
            <span class="ag-courses-item_date">3</span>
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">Towing service</div>
          <div class="ag-courses-item_text">Provision of towing service</div>
          <div class="ag-courses-item_date-box">Available with 20km:
            <span class="ag-courses-item_date">6</span>
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">Sprayer</div>
          <div class="ag-courses-item_text">For spraying of cars</div>
          <div class="ag-courses-item_date-box">Available with 20km:
            <span class="ag-courses-item_date">3</span>
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">Windscreen</div>
          <div class="ag-courses-item_text">For windscreen and mirror repair or change</div>
          <div class="ag-courses-item_date-box">Available with 20km:
            <span class="ag-courses-item_date">3</span>
          </div>
        </a>
      </div>
  
    </div>
  </div>