    <div class="content">
      <app-navbar (searchTextChanged)="onSearchTextEntered($event)"></app-navbar>
      <div class="background"></div>
      <div class="background-texture"></div>
      <section class="carousel">
       <div class="carousel__container">
        <ng-container *ngFor="let a of getproduct "> 
          <div class="carousel-item" *ngIf="searchText==='' || a.pname.toLowerCase().includes(searchText)">
            
               
              <img class="carousel-item__img" [src]="a.image" >
               
              <div class="carousel-item__details">
                <div class="controls">
                  <span class="detailsbutton" (click)="goToProduct(a.pid)">🛒</span>
                 
                </div>
                <h5 class="carousel-item__details--title">{{a.pname}}</h5>
                <h6 class="carousel-item__details--subtitle">GH₵: {{a.pcoin}}.00, {{a.pcity}}</h6>
              </div>
            </div> 
         
          </ng-container> </div>
          
   </section> </div>
  

 