<nav class="navbar navbar-expand-lg nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-brands fa-rebel"></i>mechapp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="register"><i class="fa-solid fa-file-lines"></i> Register Product</a>
          </li>
        
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="enteredSearchValue"  [ngModelOptions]="{standalone: true}" (input)="onSearchTextChanged()">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <!-- <label class="switch">
          <input checked type="checkbox" />
          <span class="slider round icon" ></span>
        </label> -->
        <label class="switch">
          <input type="checkbox" [(ngModel)]="isChecked" (change)="togglePage($event)" />
          <span class="slider round icon"></span>
        </label>
      </div>
    </div>
  </nav>

    
